@media (max-width: 1030px) {

    .burg {
        display: none;
    }

    nav ul {
        justify-content: center;
        padding-left: 0;
    }

    nav ul li:nth-child(1) {
        padding-left: 0;
    }
}

@media (max-width: 850px) {      
    nav ul li {
        display: none;

    }
}
