@import 'reset.scss';

header {
    background-image: url('../image/fond.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
    height: 60vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div ul {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 34px;
    background: black;
    padding: 55px;
}

header div ul li:nth-child(2) {
    font-size: 18px;
    margin-top: 40px;
}

header div ul li {
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: black;
    width: 100vw;
    height: 5vh;
}

nav ul li {
    padding-left: 5rem;
}

nav ul li:nth-child(1) {
    padding-left: 15%;
}

nav ul a {
    color: rgb(177, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
}

nav ul a:hover {
    color: white;
    transition: 0,5s;
}

section h1 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 20% 0 20%;
    margin: 5% 20% 2% 20%;
}

section p {
    font-size: 20px;
    margin: 0 20% 0 20%;
    line-height: 140%;
}